<div class="main-wrapper-first">
  <header>
    <div class="container">
      <div class="header-wrap">
        <div class="header-top d-flex justify-content-center align-items-center">
          <div class="logo">
            <a [routerLink]='["/"]'><img src="../../assets/img/logo.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="banner-area">
    <div class="container">
      <div class="row justify-content-center height align-items-center">
        <div class="col-lg-8">
          <div class="banner-content text-center">
            <span class="text-white top text-uppercase">Re-imagining the way</span>
            <h1 class="text-white text-uppercase">We grow money, Guaranteed</h1>
            <a href="#" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span
                class="lnr lnr-arrow-right"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-wrapper">
  <!-- Start Story Area -->
  <section class="story-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="story-title">
            <h3 class="text-white">Our Untold Story</h3>
            <span class="text-uppercase text-white">Re-imagining the way</span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="story-box">
            <h6 class="text-uppercase">From the part of beginning</h6>
            <p>Usage of the Internet is becoming more common due to rapid advancement of technology and the power of
              globalization. Societies are becoming more inter-connected. Thoughts from different</p>
            <a href="#" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span
                class="lnr lnr-arrow-right"></span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Story Area -->
</div>
