@import '../../../assets/css/font-awesome.min.css';
@import '../../../assets/css/linearicons.css';
@import '../../../assets/css/nice-select.css';
@import '../../../assets/css/owl.carousel.css';
@import '../../../assets/css/magnific-popup.css';
@import '../../../assets/css/main.css';

.single-feature .icon:after :hover {
  background-image: -moz-linear-gradient(0deg, #e66587 0%, #f09458 100%);
  background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
}

.banner-area {
  background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);

}
